PageTitle: Plants,
PageName: plants,
ObjectName: plants,
URLPattern: plants,
RequireLoggedIn: true,
RequireAdmin: false,
PullPlants: true,
PullUsers: false,
PullVarieties: false
{{safe "<!--ENDPAGEFLAGS!-->"}}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">{{.PageTitle}}</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <a href="https://{{.Config.Webserver.Hostname}}:{{.Config.Webserver.Port}}/home/plants/new">
      <button type="button" class="btn btn-sm btn-outline-secondary">
        <span data-feather="plus"></span> New Plant
      </button>
    </a>
    <!--<button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar"></span>
      This week
    </button>!-->
  </div>
</div>

<div class="row toolbar">
  <div class="col-12">
      <button class="btn btn-outline-primary print-labels">Print Labels</button>
      <br />
      <br />
  </div>
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">&nbsp;&nbsp;&nbsp;<input name="all" id="all" type="checkbox" value="" class="select all">&nbsp;</th>
        <th scope="col">Plant Name</th>
        <th scope="col">Variety</th>
        <th scope="col">Catagory</th>
        <th scope="col">Location</th>
        <th scope="col">Last Event</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {{range .Plants.Plants}}
        <tr>
            <td>&nbsp;&nbsp;&nbsp;<input type="checkbox" name="{{.PlantID}}" id="{{.PlantID}}" class="select {{.PlantID}}" value="{{.PlantID}}">&nbsp;</td>
            <td>{{.PlantName}}</td>
            <td>{{.Variety.VarietyName}}</td>
            <td>{{.Variety.VarietyCatagory}}</td>
            <td>{{.LocationName}}</td>
            <td></td>
            <td><a href="/home/plant/{{.PlantID}}">Manage</a></td>
        </tr>
      {{end}}
    </tbody>
  </table>
  <script>
    var all = false;
    let selectedItems = [];

    $(document).ready(function(){
      $(".toolbar").hide();
      $(".select.all").change(function(){
        all = !all;
        if(all){
            $(".select").prop( "checked", true );
            selectedItems = [];
            $(".select").not(".all").each(function(){
              selectedItems.push($(this).attr("id"));
            });
        }else{
          $(".select").prop( "checked", false );
          selectedItems = []
        }
        toolbar();
      });

      $(".select").not(".all").change(function(){
        if(selectedItems.includes($(this).attr("id"))){
          lookingFor = $(this).attr("id");
          var index = selectedItems.findIndex(getI);
          selectedItems.splice(index,1);
        }else{
          selectedItems.push($(this).attr("id"));
        }
        if(selectedItems.length > 0){
          $(".select#all").prop( "checked", true );
          if($(".select").not(".all").length > selectedItems.length){
            $(".select#all").prop("indeterminate", true);
          }else{
            $(".select#all").prop("indeterminate", false);
          }
          all = true;
        }else{
          $(".select#all").prop( "checked", false );
          $(".select#all").prop("indeterminate", false);
          all = false;
        }
        toolbar();
      });
    });
    
    var lookingFor = 0;
    function getI(ID) {
      return ID == lookingFor;
    }

    function toolbar(){
      if(selectedItems.length > 0){
        $(".toolbar").show();
      }else{
        $(".toolbar").hide();
      }
    }

    $(".print-labels").click(function(){
      var url = "";
      for(var i = 0; i < selectedItems.length; i++){
        url += "/"+selectedItems[i];
      }
      $("body").append("<iframe src='https://{{.Config.Webserver.Hostname}}:{{.Config.Webserver.Port}}/label/p"+url+"' style='display:none;'></iframe>");
    });
  </script>