{{define "plantList"}}
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Plant Name</th>
                <th scope="col">Variety</th>
                <th scope="col">Catagory</th>
                <th scope="col">Location</th>
                <th scope="col">Last Event</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              {{range .Plants.Plants}}
                <tr>
                    <td>{{.PlantName}}</td>
                    <td>{{.VarietyName}}</td>
                    <td>{{.PlantCatagory}}</td>
                    <td>{{.LocationName}}</td>
                    <td></td>
                    <td><a href="/home/plant/{{.PlantID}}">Manage</a></td>
                </tr>
              {{end}}
            </tbody>
          </table>
  {{end}}